body {
  background: #bae2ea;
}

.main {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  font-family: sans-serif;
  font-size: 28px;
  color: #012144;
  border: 3px solid #80808030;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.hide {
  display: none;
}

.category {
  margin: 7px 0;
}

ul {
  margin: 10px 0;
}

summary:focus {
    outline: none;
}

.itemContainer {
  position: relative;
}

.itemnameContainer {
  position: absolute;
  top: 0;
  white-space: nowrap;
  display: flex;
}

.itemimg {
  height: 21px;
  padding: 5px 10px;
}

.dropdown {
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.dim {
  filter: opacity(40%);
}