.main {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.dropdown {
  z-index: 1;
  position: relative;
}

.screen {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.dim {
  filter: opacity(40%);
}